.pervoe {
	color: #000099;
}
.vtoroe {
	color: #009999;
}
.tri {
	color: #990000;
}
.chetiri {
	color: #222222;
}

.lo

.register {
	display: flex;
	justify-content: center;
	white-space: nowrap;
}









body {
	margin: 0;
	font-family:'Roboto' ;
	font-size: 18px;
}
img {
	max-width: 100%;
}
header {
	padding-top: 59px;
	padding-bottom: 59px;
	background-color: #00AA00;
	color: #ffffff;
}
table {
  border-collapse: collapse;
  width: 100%;
}
 
tr:nth-child(even) {
  background-color: #f2f2f2;
}
 
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
 
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.link a {
text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
color:#ffffff;/*Задаём цвет ссылки*/
}
.link a:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #000000; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.link a:hover:after,
.link a:focus:after {
    width: 100%;
}
.link a:hover{
	color:#000000;
}

.knopkibetona a {
text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
line-height: 1; /*Задаём высоту строки (можно в пикселях)*/
color:#000000;/*Задаём цвет ссылки*/
}
.knopkibetona a:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #000000; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.knopkibetona a:hover:after,
.knopkibetona a:focus:after {
    width: 100%;
}
.knopkibetona a:hover{
	color:#000000;
}

.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }


.fotoizmenenie {
  width: 100%;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.fotoizmenenie:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.fotoizmenenie img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.fotoizmenenie .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.fotoizmenenie .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.fotoizmenenie .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.fotoizmenenie .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.fotoizmenenie:focus:before,
.fotoizmenenie:focus span, .fotoizmenenie:hover:before,
.fotoizmenenie:hover span {
  opacity: 1;
}
.fotoizmenenie:focus:before, .fotoizmenenie:hover:before {
  top: 50%;
}
.fotoizmenenie:focus span, .fotoizmenenie:hover span {
  top: 0;
}
.fotoizmenenie:focus .title, .fotoizmenenie:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.fotoizmenenie:focus .info, .fotoizmenenie:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.glavnoe {
	white-space: nowrap;
}
.header-pretitle {
	margin-top: 102px;
}
.header-tetle {
	font-size: 48px;
	font-weight: 700;
	line-height: 46.81px;
	margin-top: 21px;
}
.header-subtitle {
	margin-top: 20px;
}
.header-button {
	display: inline-block;
	text-decoration: none;
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #ffffff;
	color: #072d6f;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.header-button:hover {
	box-shadow: none;
}
.telefon-mini {
	display: none;
}
header small {
	font-size: 12px;
	display: black;
	text-align: center;
	margin-top: 9px;
}
.header-button-block {
	max-width: 210px
}
/* Секция порфолио */
.knopkibetona {
	text-align: center;
}
.portfolio {
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}
.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 44px;
}
.foto12345 {
	text-align: center;
}
.portfolio-title {
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	color: #072d6f;
	margin-bottom: 10px;
}
.portfolio-title2 {
	text-align: center;
	font-size: 18px;
	color: #000000;
	margin-bottom: 10px;
}
.porfolio-subtitle {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #7bb9ff;
}
.aligncenter {
    text-align: center;
}
.porfolio-title, .porfolio-subtitle {
	text-align: center;
}
.colonna-col-1 {
	padding-left: 50px;
	text-align: center;
}
.colonna-col-2 {
	padding-right: 50px;
		text-align: center;
}
.portfolio-block h3 {
	color: #072d6f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.portfolio-block h2 {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.portfolio-block p {
	color: #072d6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: : underline;
}
.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}

/* оформление подвала */
footer {
	background-color: #00AA00;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 110px;
}
.footer-author {
	font-size: 24px;
	margin-bottom: 7px;
}
.footer-text {
	margin-top: 0;
}
.social-block {
	text-align: center;
}
.spcial-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.footer-cta-block {
	text-align: center;
}
.footer-cta {
	margin-bottom: 13px;
}
.footer-button {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px; 
	padding: 12px 40px;	
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.footer-button:hover {
	background-color: #fff;
	color: #3a7dfd;
}
@media (max-width: 1200px) {
	.header-pretitle {
		margin-top: 60px;
	}
	.colonna-telefon {
		white-space: nowrap;
	}
	.register {
		white-space: nowrap;
	}
}

@media (max-width: 992px) {
	.header-img {
	display: none;	
	}
	.header-pretitle {
		margin-top: 10px;
		}
		.footer-autor {
			font-size: 18px;
		}
		.footer-text {
			font-size: 14px;
		}
		.social-block a {
		margin-left: 5px;
		margin-right: 5px;
		}
		.social-block img {
		width: 30px;
		}
		.footer-button {
		font-size: 14px;
		padding: 8px 35px;
		}
}
	
@media (max-width: 768px) {
	.colonna-col-1 {
		padding-left: 0px;
		padding-right: 20px;
		margin-bottom: 40px;
		text-align: center;
	}
	.colonna-col-2 {
		padding-left: 0px;
		padding-right: 20px;
		text-align: center;
	}
	.footer-autor, .footer-text{
		text-align: center;
	}
	.colonna-telefon {
		display: none;
	}
	.glavnoe {
		text-align: center;
	}
	.register {
		text-align: center;
	}
	.telefon-mini {
	display: block;
}
}